---
import { PROJECTS } from './data';
import RightArrowIcon from '../../assets/arrow-right.svg';
import GithubIcon from '../../assets/github.svg';
---

<section class='container px-4 md:px-8 space-y-12'>
  <div class='max-w-6xl mx-auto space-y-12'>
    <!-- Proyectos destacados -->
    <div class='text-center space-y-8'>
      <h2 class='font-bold text-5xl'>Proyectos Destacados</h2>
      <p class='text-xl text-dark-gray dark:text-village leading-relaxed'>
        Una selección de proyectos en los que he trabajado, desde aplicaciones
        web completas hasta herramientas útiles para desarrolladores.
      </p>
    </div>

    <!-- Proyectos -->
    <div class='grid md:grid-cols-2 lg:grid-cols-3 gap-6'>
      {
        PROJECTS.map((project, index) => (
          <div class='overflow-hidden hover:shadow-2xl transition-all duration-300 hover:-translate-y-1 border border-gray-light rounded-xl group'>
            {/* IMG */}
            <div>
              <img
                class='object-cover w-full h-full group-hover:scale-105 transition-transform'
                src={project.image}
                alt='Imagen del proyecto'
              />
            </div>
            {/* TITLE & DESCRIPTION */}
            <div class='p-6 space-y-4'>
              <h4 class='text-xl font-bold group-hover:text-primary transition-colors'>
                {project.title}
              </h4>
              <p class='text-sm text-dark-gray dark:text-village leading-relaxed'>
                {project.description}
              </p>
            </div>
            {/* TAGS */}
            <div class='flex flex-wrap gap-2 px-6'>
              {project.tags.map((tag) => (
                <span class='px-3 py-1 bg-secondary text-xs rounded-md font-medium border border-gray-light text-black dark:text-village'>
                  {tag}
                </span>
              ))}
            </div>
            {/* LINKS  */}
            <div class='flex items-center gap-4 mt-4 px-6 pb-4'>
              <a
                href={project.linkCode}
                class='inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium px-6 h-10 border bg-primary hover:bg-primary/90 text-village rounded-md transition-colors'
              >
                Code
                <span>
                  <GithubIcon class='size-5 inline' />
                </span>
              </a>
              <a
                href={project.linkPreview}
                class='inline-flex items-center justify-center gap-2 text-sm font-medium px-6 h-10 border bg-primary hover:bg-primary/90 text-village rounded-md transition-colors'
              >
                Preview
                <span>
                  <RightArrowIcon class='size-5 inline' />
                </span>
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<!-- 

      <div
        class='overflow-hidden hover:shadow-2xl transition-all duration-300 hover:-translate-y-1 border border-gray-light rounded-xl group'
      >
      {
        PROJECTS.map((project, index) => (

        ))
      }
        
      </div>
-->
